* {
  box-sizing: border-box;
}

.navbar {
  background-color: black;
}

.navbar-brand {
  position: relative;
  margin-top:10px;
  font-size:3em;
  float: left;
}

.collapse {
  width: 100%;
  background-color: black;
}

.nav-item {
  padding: 20px 25px 0 0;
  list-style: none;
  position: relative;
}

.container {
  position: relative;
  clear: both;
}

/* The main header */
h1 {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 2em;
  font-weight: bold;
}

.row {
  position: relative;
  text-align: center;
}

.section {
  position: relative;
  height: 1000px;
  background-color: lightgrey;
}

/* The header for each section */
.section > h2 {
  padding: 4px;
  width: 100%;
  font-size: 1.5em;
  clear: both;
}

#credits {
  text-align: center;
  font-size: 0.9em;
}

/* The content for each section */
.section > p {
  font-size: 1.1em;
}

/* small screens */
@media (max-width: 767px){
  .col-sm-12 {
    float: left;
    border: 1px solid black;
    margin: 2.5%;
  }
  .col-sm-12 {
    width: 95%;
  }
}
/* medium-sized screens */
@media (min-width: 768px) and (max-width: 991px){
  .col-md-6, .col-md-12 {
    float: left;
    border: 1px solid black;
    margin: 2.5%; /* x2 for right and left sides = 5% margin */
  }
  .col-md-6 {
    width: 45%;
  }
  .col-md-12 {
    width: 95%;
  }
}
/* large screens */
@media (min-width: 992px){
  .col-lg-4 {
    float: left;
    border: 1px solid black;
    margin: 2%
  }
  .col-lg-4 {
    width: 29.33%;
  }
}
